<?xml version="1.0" encoding="utf-8"?>
<!-- EN-Revision: 3f75f75dcf86e42bc79d5753836fee49ea6a97be Maintainer: zors1 Status: ready -->
<!-- Reviewed: no -->

<row>
  <entry>web.background</entry>
  <entry>включить фоновое изображение в вывод</entry>
  <entry>boolean</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.loadImages</entry>
  <entry>включить изображения в вывод</entry>
  <entry>boolean</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.enableJavascript</entry>
  <entry>включить или отключить javascript</entry>
  <entry>boolean</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.enableIntelligentShrinking</entry>
  <entry>включить для попытки уместить больше содержимого на странице, применяется только к выходным PDF-файлам</entry>
  <entry>boolean</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.minimumFontSize</entry>
  <entry>минимальный допустимый размер шрифта</entry>
  <entry>9</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.printMediaType</entry>
  <entry>распечатать содержимое, используя тип носителя print вместо screen</entry>
  <entry>boolean</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.defaultEncoding</entry>
  <entry>содержимое для использования без указания кодировки</entry>
  <entry>utf-8</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.userStyleSheet</entry>
  <entry>URL или путь к указанной пользователем таблице стилей</entry>
  <entry>/path/to/style.css</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.enablePlugins</entry>
  <entry>включить или отключить плагины NS</entry>
  <entry>boolean</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
