<?xml version="1.0" encoding="utf-8"?>
<!-- EN-Revision: 1.89 Maintainer: alexws Status: in-progress -->
<!-- $Revision: 1.6 $ -->
 <chapter id="configuration">
  <title>Конфигурация</title>

  <sect1 id="configuration.file">
   <title>Файл конфигурации</title>

   <simpara>
    Файл конфигурации (называющийся <filename>php3.ini</filename> в
    PHP 3.0, и просто &php.ini; в PHP 4.0) читается каждый раз при запуске
    PHP. При использовании PHP в виде модуля для Web-сервера, это происходит
    лишь один раз при запуске сервера. Для версий <acronym>CGI</acronym> и
    <acronym>CLI</acronym>, это происходи при каждом пуске.
   </simpara>
   <para>
    Расположение &php.ini; задается при компиляции (смотрите <link
    linkend="faq.installation.phpini">FAQ</link>), но для версий
    <acronym>CGI</acronym> и <acronym>CLI</acronym> может быть изменено
    из командной строки опцией <literal>-c</literal> (см. раздел про
    использование <literal>PHP</literal> из <link
    linkend="features.commandline">командной строки</link>. Также можно
    использовать переменную окружения <literal>PHPRC</literal> для задания
    дополнительных путей поиска файла &php.ini;.
   </para>
   <para>
    Здесь не описывается каждая директива PHP в отдельности. Для полного
    списка всех директив смотрите хорошо документированный файл &php.ini;. 
    Можно посмотреть php.ini последней версии в
    <ulink url="&url.php.cvs.phpini;">CVS</ulink>.
   </para>
   <note>
    <para>
     Значение по умолчанию для директив
     <link linkend="ini.register-globals">register_globals</link> изменилось
     с <emphasis>on</emphasis> на <emphasis>off</emphasis> в PHP 
     <ulink url="&url.php.release4.2.0;">4.2.0</ulink>.
    </para>
   </note>
   <para>
    <example>
     <title>Пример &php.ini;</title>
     <programlisting role="ini">
<![CDATA[
; любой текст после открытой точки с запятой (;) игнорируется
[php] ; также игнорируются маркеры секций (текст в квадратных скобках)
; Логические значения:
;  Включено: true, on, yes
;  Выключено: false, off, no, none
register_globals = off
magic_quotes_gpc = yes

; строки можно заключать в двойные кавычки
include_path = ".:/usr/local/lib/php"

; обратные слэши ничем не отличаются от остальных символов
include_path = ".;c:\php\lib"
]]>
</programlisting>
<!-- TODO: add more details about values and expressions -->
    </example>
   </para>
  </sect1>

  <sect1 id="configuration.changes">
   <title>Как изменить конфигурацию</title>

   <sect2 id="configuration.changes.apache">
    <title>При использовании <literal>PHP</literal>, как модуля Apache</title>
    <simpara>
     При использовании модуля Apache можно изменить настройки с помощью
     директив файлов конфигурации Apache <filename>httpd.conf</filename>) и
     <filename>.htaccess</filename> (для этого понадобятся привилегии
     "AllowOverride Options" или "AllowOverride All").
    </simpara>

    <simpara>
     В PHP 3.0 были директивы Apache, связанные с соответствующими
     директивами <filename>php3.ini</filename>, с единственным различием
     в том, что у них был префикс "php3_".
    </simpara>

    <para>
     В PHP 4.0 есть несколько директив Apache, которые позволяют вам
     менять конфигурацию PHP из файлов конфигурации Apache.
     <variablelist>
      <varlistentry>
       <term>
        <systemitem role="directive">php_value</systemitem>
        <parameter>имя</parameter>
        <parameter>значение</parameter>
       </term>
       <listitem>
        <para>
         Устанавливает значение указанной директивы. Может быть использована
         только для директив типа PHP_INI_ALL и PHP_INI_PERDIR.
         Для очистки значения задайте <literal>none</literal>.
         <informalexample>
          <programlisting role="ini">
<![CDATA[
php_value auto_prepend_file none
]]>
          </programlisting>
         </informalexample>
        </para>
       </listitem>
      </varlistentry>
      <varlistentry>
       <term>
        <systemitem role="directive">php_flag</systemitem>
        <parameter>имя</parameter>
        <parameter>on|off</parameter>
       </term>
       <listitem>
        <para>
         Используется для установки значений логических директив.
         Также может быть использована только с типами PHP_INI_ALL и
         PHP_INI_PERDIR type directives.
        </para>
       </listitem>
      </varlistentry>
      <varlistentry>
       <term>
        <systemitem role="directive">php_admin_value</systemitem>
        <parameter>имя</parameter>
        <parameter>значение</parameter>
       </term>
       <listitem>
        <para>
         Устанавливает значение указанной директивы. Эта директива
         НЕ МОЖЕТ быть использована в файлах <filename>.htaccess</filename>.
         Любая директива, заданная с помощью
         <systemitem role="directive">php_admin_value</systemitem>,
         не может быть переопределена в файлах <filename>.htaccess</filename>.
        </para>
       </listitem>
      </varlistentry>
      <varlistentry>
       <term>
        <systemitem role="directive">php_admin_flag</systemitem>
        <parameter>имя</parameter>
        <parameter>on|off</parameter>
       </term>
       <listitem>
        <para>
         Устанавливает значение указанной логической директивы. Эта директива
         НЕ МОЖЕТ быть использована в файлах <filename>.htaccess</filename>.
         Любая директива, заданная с помощью
         <systemitem role="directive">php_admin_flag</systemitem>,
         не может быть переопределена в файлах <filename>.htaccess</filename>.
        </para>
       </listitem>
      </varlistentry>
     </variablelist>
    </para>
    <para>
     <example>
      <title>Пример конфигурации Apache</title>
      <programlisting role="ini">
<![CDATA[
<IfModule mod_php4.c>
  php_value include_path ".:/usr/local/lib/php"
  php_admin_flag safe_mode on
</IfModule>
<IfModule mod_php3.c>
  php3_include_path ".:/usr/local/lib/php"
  php3_safe_mode on
</IfModule>
]]>
      </programlisting>
     </example>
    
     <note>
      <para>
       Константы PHP не определены вне PHP. К примеру, в файле
       <filename>httpd.conf</filename> нельзя использовать константы PHP,
       такие, как <constant>E_ALL</constant> или <constant>E_NOTICE</constant>,
       поскольку они не будут иметь значения и будут восприняты, как 0.
       Вместо констант придется использовать соответствующие значения.
      </para>
     </note>
    </para>
   </sect2>

   <sect2 id="configuration.changes.other">
    <title>При использовании других интерфейсов <literal>PHP</literal></title>
    <para>
     Независимо от интерфейса <literal>PHP</literal>, можно изменить некоторые
     значения прямо во время выполнения программы командой
     <function>ini_set</function>. Следующая таблица показывает области
     изменения параметров конфигурации:
    </para>
    <para>
     <table>
     <title>Определения констант PHP_INI_*</title>
     <tgroup cols="3">
      <thead>
       <row>
        <entry>Константа</entry>
        <entry>Значение</entry>
        <entry>Уровень</entry>
       </row>
      </thead>
      <tbody>
       <row>
        <entry>PHP_INI_USER</entry>
        <entry>1</entry>
        <entry>Значение может изменяться в программе пользователя</entry>
       </row>
       <row>
        <entry>PHP_INI_PERDIR</entry>
        <entry>2</entry>
        <entry>
         Значение может быть задано в &php.ini;, <filename>.htaccess</filename>
         или <filename>httpd.conf</filename>
        </entry>
       </row>
       <row>
        <entry>PHP_INI_SYSTEM</entry>
        <entry>4</entry>
        <entry>
         Значение может быть задано в &php.ini; или
         <filename>httpd.conf</filename>
        </entry>
       </row>
       <row>
        <entry>PHP_INI_ALL</entry>
        <entry>7</entry>
        <entry>Значение может задаваться где угодно</entry>
       </row>
      </tbody>
     </tgroup>
    </table>
    </para>
    <para>
     Значения конфигурационных директив можно посмотреть в выводе
     функции <function>phpinfo</function>. Также можно получить доступ к
     данным значениям с использованием <function>ini_get</function> или
     <function>get_cfg_var</function>.
    </para>
   </sect2>
  </sect1>

 </chapter>

<!-- Keep this comment at the end of the file
Local variables:
mode: sgml
sgml-omittag:t
sgml-shorttag:t
sgml-minimize-attributes:nil
sgml-always-quote-attributes:t
sgml-indent-step:1
sgml-indent-data:t
indent-tabs-mode:nil
sgml-parent-document:nil
sgml-default-dtd-file:"../../manual.ced"
sgml-exposed-tags:nil
sgml-local-catalogs:nil
sgml-local-ecat-files:nil
End:
vim600: syn=xml fen fdm=syntax fdl=2 si
vim: et tw=78 syn=sgml
vi: ts=1 sw=1
-->
