name: Закрытие ишью и пулл-реквестов без ответа

on:
  schedule:
    - cron: "0 */4 * * *"

jobs:
  build:
    runs-on: "ubuntu-20.04"
    steps:
      - name: Закрытие ишью и пулл-реквестов без ответа
        uses: dwieeb/needs-reply@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          issue-label: "Статус: Требуется обратная связь"
          days-before-close: 14
          close-message: "Мы не получили ответ, возможно, проблема уже решена, поэтому закрываем задачу."
