name: Check EditorConfig

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  lint:
    runs-on: ubuntu-latest
    if: "! contains(toJSON(github.event.commits.*.message), '[skip-lint]')"
    steps:
      - uses: actions/checkout@v2
      - name: Get changed files
        id: get_file_changes
        uses: trilom/file-changes-action@v1.2.3
        with:
          output: ' '
      - name: Run editorconfig-checker
        run: npx editorconfig-checker ${{ steps.get_file_changes.outputs.files }}
