name: Удаление статуса Требуется обратная связь

on:
  issue_comment:
    types:
      - created

jobs:
  build:
    if: "contains(github.event.issue.labels.*.name, 'Статус: Требуется обратная связь') && github.event.issue.user.login == github.event.sender.login"
    runs-on: "ubuntu-20.04"
    steps:
      - uses: actions-ecosystem/action-remove-labels@v1
        with:
          labels: "Статус: Требуется обратная связь"
