name: Проверка орфографии

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  spellcheck:
    runs-on: ubuntu-latest
    if: "! contains(toJSON(github.event.commits.*.message), '[skip-spellcheck]')"
    steps:
      - uses: actions/checkout@v4
      - name: Получение изменённых файлов
        id: get_file_changes
        uses: trilom/file-changes-action@v1.2.4
        with:
          output: ' '
      - name: Запуск spellchecker
        run: npx yaspeller ${{ steps.get_file_changes.outputs.files }}
